@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  /* Light background */
  --primary-color: #fd853a;
  --text-dark: #171717;
  --text-light: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Urbanist', system-ui, -apple-system, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-dark);
  min-height: 100vh;
  overflow-x: clip;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: clip;
}